body {
  font-family: var(--font-agatho);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 0.9;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: rgb(43, 42, 42);
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-bottom: none;
  border-top: 1px solid #000;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

/* body > main {
  margin: 0 1rem 1rem 1rem;
} */

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

form {
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: 400px;
  }
}

input {
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

dl {
  margin: 0.5rem 0;
}

code {
  background: #ddd;
  border-radius: 4px;
  font-family: monospace;
  padding: 0.25rem;
}